In [1]:
import os
import csv
import pandas as pd

csvfile = pd.read_csv("Resources/directory.csv")

csvfile

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
0,Starbucks,47370-257954,"Meritxell, 96",Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.39
3,Starbucks,22126-218024,Twofour 54,Licensed,Al Salam Street,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48
4,Starbucks,17127-178586,Al Ain Tower,Licensed,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.54,24.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25595,Starbucks,21401-212072,Rex,Licensed,"141 Nguyễn Huệ, Quận 1, Góc đường Pasteur và L...",Thành Phố Hồ Chí Minh,SG,VN,70000,08 3824 4668,GMT+000000 Asia/Saigon,106.70,10.78
25596,Starbucks,24010-226985,Panorama,Licensed,"SN-44, Tòa Nhà Panorama, 208 Trần Văn Trà, Quận 7",Thành Phố Hồ Chí Minh,SG,VN,70000,08 5413 8292,GMT+000000 Asia/Saigon,106.71,10.72
25597,Starbucks,47608-253804,Rosebank Mall,Licensed,"Cnr Tyrwhitt and Cradock Avenue, Rosebank",Johannesburg,GT,ZA,2194,27873500159,GMT+000000 Africa/Johannesburg,28.04,-26.15
25598,Starbucks,47640-253809,Menlyn Maine,Licensed,"Shop 61B, Central Square, Cnr Aramist & Coroba...",Menlyn,GT,ZA,181,NaN,GMT+000000 Africa/Johannesburg,28.28,-25.79
25599,Starbucks,47609-253286,Mall of Africa,Licensed,"Shop 2077, Upper Level, Waterfall City",Midrand,GT,ZA,1682,27873500215,GMT+000000 Africa/Johannesburg,28.11,-26.02

In [2]:
csvfile.columns

Index(['Brand', 'Store Number', 'Store Name', 'Ownership Type',
       'Street Address', 'City', 'State/Province', 'Country', 'Postcode',
       'Phone Number', 'Timezone', 'Longitude', 'Latitude'],
      dtype='object')

In [3]:

cleaned_df = csvfile[{"Store Name","Ownership Type","Street Address","City","State/Province","Country","Postcode"}]
cleaned_df.head()

,Country,Store Name,City,State/Province,Postcode,Ownership Type,Street Address
0,AD,"Meritxell, 96",Andorra la Vella,7,AD500,Licensed,"Av. Meritxell, 96"
1,AE,Ajman Drive Thru,Ajman,AJ,NaN,Licensed,"1 Street 69, Al Jarf"
2,AE,Dana Mall,Ajman,AJ,NaN,Licensed,Sheikh Khalifa Bin Zayed St.
3,AE,Twofour 54,Abu Dhabi,AZ,NaN,Licensed,Al Salam Street
4,AE,Al Ain Tower,Abu Dhabi,AZ,NaN,Licensed,"Khaldiya Area, Abu Dhabi Island"

In [4]:
new_df = cleaned_df.loc[cleaned_df["Country"] == "US", :]
new_df

,Country,Store Name,City,State/Province,Postcode,Ownership Type,Street Address
11964,US,Safeway-Anchorage #1809,Anchorage,AK,995042300,Licensed,5600 Debarr Rd Ste 9
11965,US,Safeway-Anchorage #2628,Anchorage,AK,995073444,Licensed,1725 Abbott Rd
11966,US,Safeway - Anchorage #1813,Anchorage,AK,995153596,Licensed,1501 Huffman Rd
11967,US,100th & C St - Anchorage,Anchorage,AK,99515,Company Owned,"320 W. 100th Ave, 100, Southgate Shopping Ctr ..."
11968,US,Old Seward & Diamond,Anchorage,AK,995152050,Company Owned,1005 E Dimond Blvd
...,...,...,...,...,...,...,...
25567,US,Safeway-Laramie #2466,Laramie,WY,820723012,Licensed,554 N 3rd St
25568,US,Ridley's - Laramie #1131,Laramie,WY,820705141,Licensed,3112 E. Grand
25569,US,Laramie - Grand & 30th,Laramie,WY,82070,Company Owned,3021 Grand Ave
25570,US,I-80 & Dewar Dr-Rock Springs,Rock Springs,WY,829015751,Company Owned,118 Westland Way
25571,US,Coffeen & Brundage Lane-Sheridan,Sheridian,WY,828016213,Company Owned,2208 Coffeen Ave

In [5]:
new_df['Zip_Code'] = new_df['Postcode'].where(new_df['Postcode'].str.len() == 5, 
                                               new_df['Postcode'].str[:5])

/Users/bt4ever/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [6]:
new_df

,Country,Store Name,City,State/Province,Postcode,Ownership Type,Street Address,Zip_Code
11964,US,Safeway-Anchorage #1809,Anchorage,AK,995042300,Licensed,5600 Debarr Rd Ste 9,99504
11965,US,Safeway-Anchorage #2628,Anchorage,AK,995073444,Licensed,1725 Abbott Rd,99507
11966,US,Safeway - Anchorage #1813,Anchorage,AK,995153596,Licensed,1501 Huffman Rd,99515
11967,US,100th & C St - Anchorage,Anchorage,AK,99515,Company Owned,"320 W. 100th Ave, 100, Southgate Shopping Ctr ...",99515
11968,US,Old Seward & Diamond,Anchorage,AK,995152050,Company Owned,1005 E Dimond Blvd,99515
...,...,...,...,...,...,...,...,...
25567,US,Safeway-Laramie #2466,Laramie,WY,820723012,Licensed,554 N 3rd St,82072
25568,US,Ridley's - Laramie #1131,Laramie,WY,820705141,Licensed,3112 E. Grand,82070
25569,US,Laramie - Grand & 30th,Laramie,WY,82070,Company Owned,3021 Grand Ave,82070
25570,US,I-80 & Dewar Dr-Rock Springs,Rock Springs,WY,829015751,Company Owned,118 Westland Way,82901
25571,US,Coffeen & Brundage Lane-Sheridan,Sheridian,WY,828016213,Company Owned,2208 Coffeen Ave,82801

In [7]:
sb_df = new_df[{"Store Name","Ownership Type","Street Address","City","State/Province","Country","Zip_Code"}]

In [8]:
sb_df

,Country,Zip_Code,Store Name,City,State/Province,Ownership Type,Street Address
11964,US,99504,Safeway-Anchorage #1809,Anchorage,AK,Licensed,5600 Debarr Rd Ste 9
11965,US,99507,Safeway-Anchorage #2628,Anchorage,AK,Licensed,1725 Abbott Rd
11966,US,99515,Safeway - Anchorage #1813,Anchorage,AK,Licensed,1501 Huffman Rd
11967,US,99515,100th & C St - Anchorage,Anchorage,AK,Company Owned,"320 W. 100th Ave, 100, Southgate Shopping Ctr ..."
11968,US,99515,Old Seward & Diamond,Anchorage,AK,Company Owned,1005 E Dimond Blvd
...,...,...,...,...,...,...,...
25567,US,82072,Safeway-Laramie #2466,Laramie,WY,Licensed,554 N 3rd St
25568,US,82070,Ridley's - Laramie #1131,Laramie,WY,Licensed,3112 E. Grand
25569,US,82070,Laramie - Grand & 30th,Laramie,WY,Company Owned,3021 Grand Ave
25570,US,82901,I-80 & Dewar Dr-Rock Springs,Rock Springs,WY,Company Owned,118 Westland Way
25571,US,82801,Coffeen & Brundage Lane-Sheridan,Sheridian,WY,Company Owned,2208 Coffeen Ave

In [9]:
nc_sb_df = sb_df.loc[sb_df["State/Province"] == "NC", :]
nc_sb_df.head()

,Country,Zip_Code,Store Name,City,State/Province,Ownership Type,Street Address
19830,US,28315,"Aberdeen, NC",Aberdeen,NC,Company Owned,110 Columbus Drive
19831,US,27502,Harris Teeter-Apex #58,Apex,NC,Licensed,750 W Williams St
19832,US,27523,Kroger-Apex #357,Apex,NC,Licensed,940 US Hwy 64
19833,US,27502,Super Target Apex ST-1932,Apex,NC,Licensed,1201 Beaver Creek Commons Dr
19834,US,28704,Target Asheville T-2011,Arden,NC,Licensed,15 McKenna Rd

In [10]:
nc_sb_df

,Country,Zip_Code,Store Name,City,State/Province,Ownership Type,Street Address
19830,US,28315,"Aberdeen, NC",Aberdeen,NC,Company Owned,110 Columbus Drive
19831,US,27502,Harris Teeter-Apex #58,Apex,NC,Licensed,750 W Williams St
19832,US,27523,Kroger-Apex #357,Apex,NC,Licensed,940 US Hwy 64
19833,US,27502,Super Target Apex ST-1932,Apex,NC,Licensed,1201 Beaver Creek Commons Dr
19834,US,28704,Target Asheville T-2011,Arden,NC,Licensed,15 McKenna Rd
...,...,...,...,...,...,...,...
20163,US,27103,Hanes Mall Blvd.,Winston-Salem,NC,Company Owned,2015 Frontis Plaza Boulevard
20164,US,27103,Stratford Road,Winston-Salem,NC,Company Owned,"110 Oakwood Drive, Space U122, N/A"
20165,US,27106,Reynolda Road,Winston-Salem,NC,Company Owned,2898 Reynolda Road
20166,US,27109,Wake Forest University Z. Smith Rey,Winston-Salem,NC,Licensed,1834 Wake Forest Rd
20167,US,27103,Wake Forest Unv Bap Med - Winst-Sal,Winston-Salem,NC,Licensed,1 Medical Center Blvd

In [18]:
nc_zipcodes = pd.read_csv("nczipcodes.csv")
nc_zipcodes

      Zip_Code         City State County Name
0        28315     ABERDEEN    NC       MOORE
1        27006      ADVANCE    NC       DAVIE
2        27910      AHOSKIE    NC    HERTFORD
3        27201     ALAMANCE    NC    ALAMANCE
4        28001    ALBEMARLE    NC      STANLY
...        ...          ...   ...         ...
1041     27379  YANCEYVILLE    NC     CASWELL
1042     27596  YOUNGSVILLE    NC    FRANKLIN
1043     27597      ZEBULON    NC        WAKE
1044     28698    ZIONVILLE    NC     WATAUGA
1045     28790     ZIRCONIA    NC   HENDERSON

[1046 rows x 4 columns]

In [21]:
nc_zipcodes.dtypes

Zip_Code        int64
City           object
State          object
County Name    object
dtype: object

In [23]:
nc_zipcodes['Zip_Code'] = nc_zipcodes['Zip_Code'].apply(str)

In [24]:
merge_df = pd.merge(nc_sb_df, nc_zipcodes, on="Zip_Code", how="inner")
merge_df

,Country,Zip_Code,Store Name,City_x,State/Province,Ownership Type,Street Address,City_y,State,County Name
0,US,28315,"Aberdeen, NC",Aberdeen,NC,Company Owned,110 Columbus Drive,ABERDEEN,NC,MOORE
1,US,27502,Harris Teeter-Apex #58,Apex,NC,Licensed,750 W Williams St,APEX,NC,WAKE
2,US,27502,Super Target Apex ST-1932,Apex,NC,Licensed,1201 Beaver Creek Commons Dr,APEX,NC,WAKE
3,US,27523,Kroger-Apex #357,Apex,NC,Licensed,940 US Hwy 64,APEX,NC,WAKE
4,US,28704,Target Asheville T-2011,Arden,NC,Licensed,15 McKenna Rd,ARDEN,NC,BUNCOMBE
...,...,...,...,...,...,...,...,...,...,...
333,US,27105,Target Winston-Salem North T-1077,Winston-Salem,NC,Licensed,5420 University Pkwy,WINSTON SALEM,NC,FORSYTH
334,US,27106,Harris Teeter Winston Salem # 346,Winston-Salem,NC,Licensed,2835 Reynolda Rd,WINSTON SALEM,NC,FORSYTH
335,US,27106,Mt. Tabor Place,Winston-Salem,NC,Company Owned,3327 Robinhood Road,WINSTON SALEM,NC,FORSYTH
336,US,27106,Reynolda Road,Winston-Salem,NC,Company Owned,2898 Reynolda Road,WINSTON SALEM,NC,FORSYTH
337,US,27109,Wake Forest University Z. Smith Rey,Winston-Salem,NC,Licensed,1834 Wake Forest Rd,WINSTON SALEM,NC,FORSYTH

In [36]:
new_nc_sb_df = merge_df[{"Store Name","Ownership Type",
                         "Street Address","City_y","State","Zip_Code","County Name"}]
new_nc_sb_df

,County Name,Zip_Code,Store Name,State,Ownership Type,Street Address,City_y
0,MOORE,28315,"Aberdeen, NC",NC,Company Owned,110 Columbus Drive,ABERDEEN
1,WAKE,27502,Harris Teeter-Apex #58,NC,Licensed,750 W Williams St,APEX
2,WAKE,27502,Super Target Apex ST-1932,NC,Licensed,1201 Beaver Creek Commons Dr,APEX
3,WAKE,27523,Kroger-Apex #357,NC,Licensed,940 US Hwy 64,APEX
4,BUNCOMBE,28704,Target Asheville T-2011,NC,Licensed,15 McKenna Rd,ARDEN
...,...,...,...,...,...,...,...
333,FORSYTH,27105,Target Winston-Salem North T-1077,NC,Licensed,5420 University Pkwy,WINSTON SALEM
334,FORSYTH,27106,Harris Teeter Winston Salem # 346,NC,Licensed,2835 Reynolda Rd,WINSTON SALEM
335,FORSYTH,27106,Mt. Tabor Place,NC,Company Owned,3327 Robinhood Road,WINSTON SALEM
336,FORSYTH,27106,Reynolda Road,NC,Company Owned,2898 Reynolda Road,WINSTON SALEM
337,FORSYTH,27109,Wake Forest University Z. Smith Rey,NC,Licensed,1834 Wake Forest Rd,WINSTON SALEM

In [39]:
new_nc_sb_df = new_nc_sb_df.rename(columns={"City_y": "City"})
new_nc_sb_df

,County Name,Zip_Code,Store Name,State,Ownership Type,Street Address,City
0,MOORE,28315,"Aberdeen, NC",NC,Company Owned,110 Columbus Drive,ABERDEEN
1,WAKE,27502,Harris Teeter-Apex #58,NC,Licensed,750 W Williams St,APEX
2,WAKE,27502,Super Target Apex ST-1932,NC,Licensed,1201 Beaver Creek Commons Dr,APEX
3,WAKE,27523,Kroger-Apex #357,NC,Licensed,940 US Hwy 64,APEX
4,BUNCOMBE,28704,Target Asheville T-2011,NC,Licensed,15 McKenna Rd,ARDEN
...,...,...,...,...,...,...,...
333,FORSYTH,27105,Target Winston-Salem North T-1077,NC,Licensed,5420 University Pkwy,WINSTON SALEM
334,FORSYTH,27106,Harris Teeter Winston Salem # 346,NC,Licensed,2835 Reynolda Rd,WINSTON SALEM
335,FORSYTH,27106,Mt. Tabor Place,NC,Company Owned,3327 Robinhood Road,WINSTON SALEM
336,FORSYTH,27106,Reynolda Road,NC,Company Owned,2898 Reynolda Road,WINSTON SALEM
337,FORSYTH,27109,Wake Forest University Z. Smith Rey,NC,Licensed,1834 Wake Forest Rd,WINSTON SALEM

In [40]:
sb_owner_counts = new_nc_sb_df["Ownership Type"].value_counts()
sb_owner_counts.head()

Licensed         186
Company Owned    152
Name: Ownership Type, dtype: int64

In [41]:
sb_zip_counts = new_nc_sb_df["Zip_Code"].value_counts()
sb_zip_counts

28277    10
28208    10
27103     8
27410     8
28027     7
         ..
27614     1
27520     1
27617     1
27523     1
28217     1
Name: Zip_Code, Length: 152, dtype: int64

In [71]:
sb_city_counts = new_nc_sb_df["City"].value_counts()
sb_city_counts

CHARLOTTE         61
RALEIGH           27
GREENSBORO        19
CARY              17
WINSTON SALEM     15
                  ..
DALLAS             1
DAVIDSON           1
ELIZABETH CITY     1
CULLOWHEE          1
SMITHFIELD         1
Name: City, Length: 86, dtype: int64

In [51]:
nc_county_count = new_nc_sb_df.groupby(["County Name"]).count()["Zip_Code"]
nc_county_count

County Name
ALAMANCE         5
BRUNSWICK        1
BUNCOMBE        19
BURKE            1
CABARRUS         8
CARTERET         1
CATAWBA          3
CHEROKEE         2
CLAY             1
CLEVELAND        2
CRAVEN           4
CUMBERLAND      10
CURRITUCK        1
DARE             2
DURHAM          15
FORSYTH         19
GASTON           4
GUILFORD        24
HALIFAX          1
HARNETT          1
HAYWOOD          2
HENDERSON        6
IREDELL          6
JACKSON          2
JOHNSTON         3
LEE              1
LINCOLN          1
MECKLENBURG     76
MOORE            2
NASH             1
NEW HANOVER      9
ONSLOW           4
ORANGE           7
PASQUOTANK       1
PITT             9
ROBESON          2
ROWAN            1
RUTHERFORD       1
TRANSYLVANIA     1
UNION            7
WAKE            65
WATAUGA          1
WAYNE            3
WILSON           2
YANCEY           1
Name: Zip_Code, dtype: int64

In [75]:
nc_countygroup = new_nc_sb_df.groupby(["County Name"])
nc_countygroup.head()

,County Name,Zip_Code,Store Name,State,Ownership Type,Street Address,City
0,MOORE,28315,"Aberdeen, NC",NC,Company Owned,110 Columbus Drive,ABERDEEN
1,WAKE,27502,Harris Teeter-Apex #58,NC,Licensed,750 W Williams St,APEX
2,WAKE,27502,Super Target Apex ST-1932,NC,Licensed,1201 Beaver Creek Commons Dr,APEX
3,WAKE,27523,Kroger-Apex #357,NC,Licensed,940 US Hwy 64,APEX
4,BUNCOMBE,28704,Target Asheville T-2011,NC,Licensed,15 McKenna Rd,ARDEN
...,...,...,...,...,...,...,...
315,NEW HANOVER,28403,Harris Teeter-Wilmington # 301,NC,Licensed,1940 Eastwood Rd,WILMINGTON
316,NEW HANOVER,28403,S College Dr & New Centre Dr,NC,Company Owned,"311 S College Dr, Ste 100",WILMINGTON
321,WILSON,27896,"Wilson, NC",NC,Company Owned,"3401 Raleigh Rd, Suite 101",WILSON
322,WILSON,27896,Target Wilson T-2168,NC,Licensed,3401 Raleigh Rd Pkwy W,WILSON
323,FORSYTH,27103,Harris Teeter Winston Salem 216,NC,Licensed,2281 Cloverdale Ave,WINSTON SALEM

In [73]:
new_nc_sb_df.dtypes

County Name       object
Zip_Code          object
Store Name        object
State             object
Ownership Type    object
Street Address    object
City              object
dtype: object

In [80]:
comp_own_df = new_nc_sb_df.loc[new_nc_sb_df["Ownership Type"] == "Company Owned", :]
comp_own_df.head()

,County Name,Zip_Code,Store Name,State,Ownership Type,Street Address,City
0,MOORE,28315,"Aberdeen, NC",NC,Company Owned,110 Columbus Drive,ABERDEEN
9,BUNCOMBE,28805,Asheville Mall,NC,Company Owned,3 S Tunnel Road,ASHEVILLE
10,BUNCOMBE,28803,Long Shoals Rd & I-26,NC,Company Owned,"26 Carl Alwin Place, 10",ASHEVILLE
12,BUNCOMBE,28803,Biltmore Village,NC,Company Owned,"40 All Souls Crescent Street, Biltmore Village...",ASHEVILLE
13,BUNCOMBE,28803,Parkway Centre,NC,Company Owned,1378 Hendersonville Road,ASHEVILLE

In [83]:
lic_own_df = new_nc_sb_df.loc[new_nc_sb_df["Ownership Type"] == "Licensed", :]
lic_own_df.head()

,County Name,Zip_Code,Store Name,State,Ownership Type,Street Address,City
1,WAKE,27502,Harris Teeter-Apex #58,NC,Licensed,750 W Williams St,APEX
2,WAKE,27502,Super Target Apex ST-1932,NC,Licensed,1201 Beaver Creek Commons Dr,APEX
3,WAKE,27523,Kroger-Apex #357,NC,Licensed,940 US Hwy 64,APEX
4,BUNCOMBE,28704,Target Asheville T-2011,NC,Licensed,15 McKenna Rd,ARDEN
5,BUNCOMBE,28704,Ingles-Arden #130,NC,Licensed,301 Long Shoals Rd,ARDEN

In [85]:
comp_own_df["City"].value_counts()

CHARLOTTE         29
RALEIGH           20
GREENSBORO         9
WINSTON SALEM      9
CARY               8
DURHAM             8
ASHEVILLE          6
WILMINGTON         4
CONCORD            4
PINEVILLE          3
HUNTERSVILLE       3
GREENVILLE         3
FAYETTEVILLE       3
GOLDSBORO          2
MORRISVILLE        2
BURLINGTON         2
JACKSONVILLE       2
HICKORY            2
CHAPEL HILL        2
MOORESVILLE        2
HIGH POINT         2
ROANOKE RAPIDS     1
CLAYTON            1
ABERDEEN           1
WAXHAW             1
SMITHFIELD         1
KNIGHTDALE         1
MOREHEAD CITY      1
KITTY HAWK         1
FUQUAY VARINA      1
SALISBURY          1
LUMBERTON          1
MEBANE             1
STATESVILLE        1
WINTERVILLE        1
SANFORD            1
CLEMMONS           1
WILSON             1
NEW BERN           1
HENDERSONVILLE     1
MONROE             1
KERNERSVILLE       1
GARNER             1
INDIAN TRAIL       1
GASTONIA           1
HOLLY SPRINGS      1
MATTHEWS           1
CORNELIUS          1
Name: City, dtype: int64

In [84]:
lic_own_df["City"].value_counts()

CHARLOTTE         32
GREENSBORO        10
CARY               9
DURHAM             7
ASHEVILLE          7
                  ..
MORGANTON          1
WEAVERVILLE        1
JAMESTOWN          1
BLACK MOUNTAIN     1
DALLAS             1
Name: City, Length: 71, dtype: int64

In [86]:
comp_own_df["County Name"].value_counts()

MECKLENBURG    37
WAKE           34
FORSYTH        11
GUILFORD       11
DURHAM          8
BUNCOMBE        6
CABARRUS        4
PITT            4
NEW HANOVER     4
UNION           3
ALAMANCE        3
IREDELL         3
CUMBERLAND      3
CATAWBA         2
WAYNE           2
JOHNSTON        2
ORANGE          2
ONSLOW          2
HENDERSON       1
CRAVEN          1
GASTON          1
LEE             1
CARTERET        1
DARE            1
ROBESON         1
ROWAN           1
HALIFAX         1
MOORE           1
WILSON          1
Name: County Name, dtype: int64

In [87]:
lic_own_df["County Name"].value_counts()

MECKLENBURG     39
WAKE            31
GUILFORD        13
BUNCOMBE        13
FORSYTH          8
DURHAM           7
CUMBERLAND       7
PITT             5
HENDERSON        5
ORANGE           5
NEW HANOVER      5
CABARRUS         4
UNION            4
CRAVEN           3
GASTON           3
IREDELL          3
ALAMANCE         2
HAYWOOD          2
CLEVELAND        2
CHEROKEE         2
ONSLOW           2
JACKSON          2
CLAY             1
BURKE            1
RUTHERFORD       1
DARE             1
HARNETT          1
YANCEY           1
CURRITUCK        1
MOORE            1
CATAWBA          1
TRANSYLVANIA     1
ROBESON          1
LINCOLN          1
WAYNE            1
WATAUGA          1
BRUNSWICK        1
JOHNSTON         1
NASH             1
PASQUOTANK       1
WILSON           1
Name: County Name, dtype: int64