In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
starbucks_csvfile = 'starbucks.csv'
income_csvfile = 'reduced_income_df.csv'

starbucks_data = pd.read_csv(starbucks_csvfile)
income_data = pd.read_csv(income_csvfile)

In [5]:
starbucks_data.head()

,Store Number,Store Name,City,State/Province,Country,Postcode,Longitude,Latitude
0,3513-125945,Safeway-Anchorage #1809,Anchorage,AK,US,995042300,-149.78,61.21
1,74352-84449,Safeway-Anchorage #2628,Anchorage,AK,US,995073444,-149.84,61.14
2,12449-152385,Safeway - Anchorage #1813,Anchorage,AK,US,995153596,-149.85,61.11
3,24936-233524,100th & C St - Anchorage,Anchorage,AK,US,99515,-149.89,61.13
4,8973-85630,Old Seward & Diamond,Anchorage,AK,US,995152050,-149.86,61.14

In [6]:
income_data.head()

,State_ab,County,City,Type,Zip_Code,Lat,Lon,Mean,Median,Stdev
0,AL,Mobile County,Chickasaw,City,36611,30.771450,-88.079697,38773,30506,33101
1,AL,Barbour County,Louisville,City,36048,31.708516,-85.611039,37725,19528,43789
2,AL,Shelby County,Columbiana,City,35051,33.191452,-86.615618,54606,31930,57348
3,AL,Mobile County,Satsuma,City,36572,30.874343,-88.009442,63919,52814,47707
4,AL,Mobile County,Dauphin Island,Town,36528,30.250913,-88.171268,77948,67225,54270

In [12]:
income_data_renamed = income_data.rename(columns={"State_ab": "State", "County": "County", "City": "City",
                                          "Zip_Code": "Zip Code", "Lat": "Latitude", "Lon": "Longitude",
                                          "Mean": "Mean", "Median": "Median", "Stdev": "Standard Deviation"})
income_data_renamed.head()

,State,County,City,Type,Zip Code,Latitude,Longitude,Mean,Median,Standard Deviation
0,AL,Mobile County,Chickasaw,City,36611,30.771450,-88.079697,38773,30506,33101
1,AL,Barbour County,Louisville,City,36048,31.708516,-85.611039,37725,19528,43789
2,AL,Shelby County,Columbiana,City,35051,33.191452,-86.615618,54606,31930,57348
3,AL,Mobile County,Satsuma,City,36572,30.874343,-88.009442,63919,52814,47707
4,AL,Mobile County,Dauphin Island,Town,36528,30.250913,-88.171268,77948,67225,54270

In [ ]:
income_data_renamed