In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
starbucks_csvfile = 'starbucks.csv'
income_csvfile = 'Resources/cleaned_income_df.csv'

starbucks_data = pd.read_csv(starbucks_csvfile)
income_data = pd.read_csv(income_csvfile)

In [3]:
starbucks_data.head()

,Store Number,Store Name,City,State/Province,Country,Postcode,Longitude,Latitude
0,3513-125945,Safeway-Anchorage #1809,Anchorage,AK,US,995042300,-149.78,61.21
1,74352-84449,Safeway-Anchorage #2628,Anchorage,AK,US,995073444,-149.84,61.14
2,12449-152385,Safeway - Anchorage #1813,Anchorage,AK,US,995153596,-149.85,61.11
3,24936-233524,100th & C St - Anchorage,Anchorage,AK,US,99515,-149.89,61.13
4,8973-85630,Old Seward & Diamond,Anchorage,AK,US,995152050,-149.86,61.14

In [4]:
starbucks_data['Zip Code'] = starbucks_data['Postcode'].where(starbucks_data['Postcode'].str.len() == 5, 
                                                              starbucks_data['Postcode'].str[:5])
starbucks_data.head()

,Store Number,Store Name,City,State/Province,Country,Postcode,Longitude,Latitude,Zip Code
0,3513-125945,Safeway-Anchorage #1809,Anchorage,AK,US,995042300,-149.78,61.21,99504
1,74352-84449,Safeway-Anchorage #2628,Anchorage,AK,US,995073444,-149.84,61.14,99507
2,12449-152385,Safeway - Anchorage #1813,Anchorage,AK,US,995153596,-149.85,61.11,99515
3,24936-233524,100th & C St - Anchorage,Anchorage,AK,US,99515,-149.89,61.13,99515
4,8973-85630,Old Seward & Diamond,Anchorage,AK,US,995152050,-149.86,61.14,99515

In [5]:
income_data.head()

,State_ab,County,City,Type,Zip_Code,Lat,Lon,Mean,Median,Stdev
0,AL,Mobile County,Chickasaw,City,36611,30.771450,-88.079697,38773,30506,33101
1,AL,Barbour County,Louisville,City,36048,31.708516,-85.611039,37725,19528,43789
2,AL,Shelby County,Columbiana,City,35051,33.191452,-86.615618,54606,31930,57348
3,AL,Mobile County,Satsuma,City,36572,30.874343,-88.009442,63919,52814,47707
4,AL,Mobile County,Dauphin Island,Town,36528,30.250913,-88.171268,77948,67225,54270

In [6]:
income_df = income_data.rename(columns={"State_ab": "State", "County": "County", "City": "City",
                                          "Zip_Code": "Postcode", "Lat": "Latitude", "Lon": "Longitude",
                                          "Mean": "Mean", "Median": "Median", "Stdev": "Standard Deviation"})
income_df.head()

,State,County,City,Type,Postcode,Latitude,Longitude,Mean,Median,Standard Deviation
0,AL,Mobile County,Chickasaw,City,36611,30.771450,-88.079697,38773,30506,33101
1,AL,Barbour County,Louisville,City,36048,31.708516,-85.611039,37725,19528,43789
2,AL,Shelby County,Columbiana,City,35051,33.191452,-86.615618,54606,31930,57348
3,AL,Mobile County,Satsuma,City,36572,30.874343,-88.009442,63919,52814,47707
4,AL,Mobile County,Dauphin Island,Town,36528,30.250913,-88.171268,77948,67225,54270

In [7]:
income_df['Postcode'] = income_df['Postcode'].apply(str)

In [8]:
combined_df = pd.merge(starbucks_data, income_df, on="Postcode", how="inner")
combined_df

,Store Number,Store Name,City_x,State/Province,Country,Postcode,Longitude_x,Latitude_x,Zip Code,State,County,City_y,Type,Latitude_y,Longitude_y,Mean,Median,Standard Deviation
0,24936-233524,100th & C St - Anchorage,Anchorage,AK,US,99515,-149.89,61.13,99515,AK,Aleutians East Borough,Anchorage,Track,61.122781,-149.963376,92426,300000,47964
1,75988-107245,ANC Main Terminal Ticketing,Anchorage,AK,US,99502,-149.98,61.18,99502,AK,Aleutians East Borough,Anchorage,Track,61.164811,-150.177803,115266,115283,81014
2,75988-107245,ANC Main Terminal Ticketing,Anchorage,AK,US,99502,-149.98,61.18,99502,AK,Aleutians East Borough,Anchorage,Track,61.147850,-149.925251,95568,79940,55248
3,28028-249124,ANC - Baggage Claim,Anchorage,AK,US,99502,-149.95,61.15,99502,AK,Aleutians East Borough,Anchorage,Track,61.164811,-150.177803,115266,115283,81014
4,28028-249124,ANC - Baggage Claim,Anchorage,AK,US,99502,-149.95,61.15,99502,AK,Aleutians East Borough,Anchorage,Track,61.147850,-149.925251,95568,79940,55248
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10859,18274-101208,Smith's - Jackson Hole #184,Jackson Hole,WY,US,83001,-110.75,43.48,83001,WY,Albany County,Jackson,Track,43.473115,-110.688603,81636,300000,66280
10860,22353-220004,Safeway - Lander 2761,Lander,WY,US,82520,-108.75,42.84,82520,WY,Fremont County,Lander,City,42.831276,-108.759894,62094,50883,48936
10861,22425-219024,Laramie - Grand & 30th,Laramie,WY,US,82070,-105.56,41.31,82070,WY,Albany County,Laramie,CDP,41.101461,-106.028802,23530,300000,23917
10862,22425-219024,Laramie - Grand & 30th,Laramie,WY,US,82070,-105.56,41.31,82070,WY,Albany County,Laramie,Track,41.302396,-105.631844,64416,300000,46249
10863,22425-219024,Laramie - Grand & 30th,Laramie,WY,US,82070,-105.56,41.31,82070,WY,Albany County,Laramie,Track,41.306316,-105.577815,53135,38295,51294

In [27]:
clean_df = combined_df.drop_duplicates(["Store Name"], keep='last')
clean_df

,Store Number,Store Name,City_x,State/Province,Country,Postcode,Longitude_x,Latitude_x,Zip Code,State,County,City_y,Type,Latitude_y,Longitude_y,Mean,Median,Standard Deviation
0,24936-233524,100th & C St - Anchorage,Anchorage,AK,US,99515,-149.89,61.13,99515,AK,Aleutians East Borough,Anchorage,Track,61.122781,-149.963376,92426,300000,47964
2,75988-107245,ANC Main Terminal Ticketing,Anchorage,AK,US,99502,-149.98,61.18,99502,AK,Aleutians East Borough,Anchorage,Track,61.147850,-149.925251,95568,79940,55248
4,28028-249124,ANC - Baggage Claim,Anchorage,AK,US,99502,-149.95,61.15,99502,AK,Aleutians East Borough,Anchorage,Track,61.147850,-149.925251,95568,79940,55248
7,20349-108249,Fred Meyer-Anchorage East #18,Anchorage,AK,US,99504,-149.74,61.21,99504,AK,Aleutians East Borough,Anchorage,Track,61.202201,-149.764406,97885,300000,47596
10,17941-159568,Tikahtnu Commons - Anchorage,Anchorage,AK,US,99504,-149.74,61.23,99504,AK,Aleutians East Borough,Anchorage,Track,61.202201,-149.764406,97885,300000,47596
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10855,29314-251304,Yellowstone and Storey - Cheyenne,Cheyenne,WY,US,82009,-104.83,41.17,82009,WY,Albany County,Cheyenne,Track,41.181198,-104.787849,77348,68371,55082
10857,19240-195904,"Jackson, WY",Jackson,WY,US,83001,-110.76,43.48,83001,WY,Albany County,Jackson,Track,43.473115,-110.688603,81636,300000,66280
10859,18274-101208,Smith's - Jackson Hole #184,Jackson Hole,WY,US,83001,-110.75,43.48,83001,WY,Albany County,Jackson,Track,43.473115,-110.688603,81636,300000,66280
10860,22353-220004,Safeway - Lander 2761,Lander,WY,US,82520,-108.75,42.84,82520,WY,Fremont County,Lander,City,42.831276,-108.759894,62094,50883,48936
10863,22425-219024,Laramie - Grand & 30th,Laramie,WY,US,82070,-105.56,41.31,82070,WY,Albany County,Laramie,Track,41.306316,-105.577815,53135,38295,51294