In [4]:
import pandas as pd

In [5]:
csvfile = "Resources/directory.csv"
starbucks_data = pd.read_csv(csvfile, encoding='utf-8')
starbucks_data.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x95 in position 11: invalid start byte

In [3]:
starbies_df = starbucks_data[["Store Number", "Store Name", "City", "State/Province", "Country", "Postcode", "Longitude", "Latitude"]]
starbies_df.head()

,Store Number,Store Name,City,State/Province,Country,Postcode,Longitude,Latitude
0,47370-257954,"Meritxell, 96",Andorra la Vella,7,AD,AD500,1.53,42.51
1,22331-212325,Ajman Drive Thru,Ajman,AJ,AE,NaN,55.47,25.42
2,47089-256771,Dana Mall,Ajman,AJ,AE,NaN,55.47,25.39
3,22126-218024,Twofour 54,Abu Dhabi,AZ,AE,NaN,54.38,24.48
4,17127-178586,Al Ain Tower,Abu Dhabi,AZ,AE,NaN,54.54,24.51

In [5]:
starbucks_df = starbies_df.loc[starbies_df["Country"] == "US", :]
starbucks_df

,Store Number,Store Name,City,State/Province,Country,Postcode,Longitude,Latitude
11964,3513-125945,Safeway-Anchorage #1809,Anchorage,AK,US,995042300,-149.78,61.21
11965,74352-84449,Safeway-Anchorage #2628,Anchorage,AK,US,995073444,-149.84,61.14
11966,12449-152385,Safeway - Anchorage #1813,Anchorage,AK,US,995153596,-149.85,61.11
11967,24936-233524,100th & C St - Anchorage,Anchorage,AK,US,99515,-149.89,61.13
11968,8973-85630,Old Seward & Diamond,Anchorage,AK,US,995152050,-149.86,61.14
...,...,...,...,...,...,...,...,...
25567,74385-87621,Safeway-Laramie #2466,Laramie,WY,US,820723012,-105.59,41.32
25568,73320-24375,Ridley's - Laramie #1131,Laramie,WY,US,820705141,-105.56,41.31
25569,22425-219024,Laramie - Grand & 30th,Laramie,WY,US,82070,-105.56,41.31
25570,10849-103163,I-80 & Dewar Dr-Rock Springs,Rock Springs,WY,US,829015751,-109.25,41.58
25571,10769-102454,Coffeen & Brundage Lane-Sheridan,Sheridian,WY,US,828016213,-106.94,44.77

In [7]:
starbucks_df.to_csv("starbucks.csv", index=False, header=True)