##for Analyzing the Starbucks data

In [ ]:
#Type of ownership
    #Company Owned
    #Licensed
    #Franchised
    #Joint Venture
    #Success
    #Location densities 
#Success (use with Google API?)
#Location densities  use with Google API?)

In [2]:
# Dependencies
import pandas as pd
import requests
import json

# Google developer API key
from config import gkey

In [3]:
# Make a reference to the books.csv file path
csv_path = "Cleaned_Starbucks_Data/starbucks.csv"

# Import the books.csv file as a DataFrame
starbucks_df = pd.read_csv(csv_path, encoding="utf-8")
starbucks_df.head()

,Store Number,Store Name,City,State/Province,Country,Postcode,Longitude,Latitude
0,3513-125945,Safeway-Anchorage #1809,Anchorage,AK,US,995042300,-149.78,61.21
1,74352-84449,Safeway-Anchorage #2628,Anchorage,AK,US,995073444,-149.84,61.14
2,12449-152385,Safeway - Anchorage #1813,Anchorage,AK,US,995153596,-149.85,61.11
3,24936-233524,100th & C St - Anchorage,Anchorage,AK,US,99515,-149.89,61.13
4,8973-85630,Old Seward & Diamond,Anchorage,AK,US,995152050,-149.86,61.14

In [5]:
starbucks_df['Zip Code'] = starbucks_df['Postcode'].where(starbucks_df['Postcode'].str.len() == 5, 
                                               starbucks_df['Postcode'].str[:5])
starbucks_df.head()

,Store Number,Store Name,City,State/Province,Country,Postcode,Longitude,Latitude,Zip Code
0,3513-125945,Safeway-Anchorage #1809,Anchorage,AK,US,995042300,-149.78,61.21,99504
1,74352-84449,Safeway-Anchorage #2628,Anchorage,AK,US,995073444,-149.84,61.14,99507
2,12449-152385,Safeway - Anchorage #1813,Anchorage,AK,US,995153596,-149.85,61.11,99515
3,24936-233524,100th & C St - Anchorage,Anchorage,AK,US,99515,-149.89,61.13,99515
4,8973-85630,Old Seward & Diamond,Anchorage,AK,US,995152050,-149.86,61.14,99515

In [ ]:
#Type of ownership

In [ ]:
#Success (use with Google API?)

In [ ]:
#Location densities  use with Google API?)